---
import { SITE } from 'astrowind:config';
import Favicon from '../assets/favicons/favicon.svg';
---

<div class="flex items-center gap-2">
  <Favicon class="w-12 h-12 flex-shrink-0" />
  <span class="self-center text-2xl md:text-xl font-bold text-white whitespace-nowrap">
    {SITE?.name}
  </span>
</div>
